@use "@/styles/variables" as *;

.cardContainer {
    position: relative;
    background-color: $clr-white;
    border: 1px solid $clr-orange-light;
    border-radius: $rounded-md;
    box-shadow: $shadow-md;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
    flex: 1 0 600px;
    overflow: hidden;

    &:hover {
        background-color: $clr-orange-lighter !important;

        .detail {
            background-color: $clr-purple-lighter;
        }
    }
}

.cardHeader {
    font-size: $font-lg;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-orange;
    color: $clr-white;
    padding: $padding-sm $padding-md;
}

.cardBody {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;
    padding: $padding-md;
}

.detail {
    display: flex;
    justify-content: space-between;
    background-color: $clr-purple-lighter;
    padding: $padding-xs $padding-sm;
    border-radius: $rounded-sm;
    transition: background-color 0.5s ease-in-out;

    &:nth-child(odd) {
        background-color: $clr-purple-light;

        &:hover {
            background-color: $clr-purple-lighter;
        }
    }

    &:nth-child(6) {
        .detailValue {
            color: $clr-danger;
            font-style: italic;
        }
    }
}

.builtIn {
    background-color: $clr-danger-light;
}

.orderNumber {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-4xl;
    color: $clr-purple;
    opacity: 0.1;
    filter: blur(2px);
    pointer-events: none;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    gap: $gap-xs;
}

.students {
    background-color: $clr-smoke;
    border: 1px solid $clr-orange-light;
    border-radius: $rounded-sm;
    padding: $padding-sm;
    display: flex;
    flex-direction: column;
    gap: $gap-md;

    h3 {
        color: $clr-purple;
    }
}

.studentList {
    display: flex;
    p {
        color: $clr-success-dark;
        font-size: $font-sm;

        &::before {
            content: "•";
            color: $clr-danger;
            margin: 0 $margin-xs;
        }

        &:first-child::before {
            content: "";
            margin: 0;
        }
    }
}

.dateTime {
    font-family: $font-modulus;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap-md;
    color: $clr-orange-dark;
    font-size: $font-lg;
}

@media (max-width: $screen-3xl) {
    .cardContainer {
        flex: 1 0 400px;
    }

    .cardContent {
        padding: $padding-sm;
    }

    .students {
        padding: $padding-xs;
    }

    .studentList {
        p {
            font-size: $font-xs;
        }
    }

    .dateTime {
        font-size: $font-md;
    }
}

@media (max-width: $screen-xl) {
    .cardContainer {
        flex: 1 0 300px;
    }

    .students {
        gap: $gap-xs;

        h3 {
            font-size: $font-sm !important;
        }
    }

    .studentList {
        p {
            font-size: $font-2xs;
        }
    }

    .cardHeader {
        h2 {
            font-size: $font-md !important;
        }
    }

    .dateTime {
        font-size: $font-sm;
    }

    .description {
        font-size: $font-xs;
    }
}

@media (max-width: $screen-lg) {
    .students {
        gap: $gap-2xs;
    }

    .cardHeader {
        h2 {
            font-size: $font-sm !important;
        }
    }

    .dateTime {
        font-size: $font-xs;
    }
}

@media (max-width: $screen-md) {
    .cardContainer {
        flex: 1 0 230px;
    }

    .students {
        gap: $gap-2xs;
    }

    .cardHeader {
        h2 {
            font-size: $font-xs !important;
        }
    }

    .dateTime {
        font-size: $font-xs;
    }
}
