@use "@/styles/variables" as *;

.notification {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    color: $clr-purple;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: $rounded-full;
    background-color: $clr-danger;
    color: $clr-white;
    font-size: $font-2xs;
    display: flex;
    align-items: center;
    justify-content: center;
}
